<?php if($heading_title) { ?>
<div class="rev_slider">
<?php } else { ?>
<div class="rev_slider_2">
<?php } ?>
  <?php if($heading_title) { ?>
	<div class="heading_h"><span class="h3"><?php echo $heading_title; ?></span></div>
  <?php } ?>
  <?php echo $html; ?>
</div>
