<div id="fb_groups">
	<div class="fb-page" data-href="https://www.facebook.com/<?php echo $id; ?>" data-width="<?php echo $width; ?>" data-height="<?php echo $height; ?>" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
	<div id="fb-root"></div>
	<script><!--
	(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
	//--></script>
</div>