<footer id="footer"><?php echo $text_footer; ?><br /><?php echo $text_version; ?></footer></div>
<!-- NeoSeo SMS Notify - begin -->
<?php if (isset($sms_notify) && $sms_notify) { ?>
<?php echo $sendSmsModal; ?>
<?php } ?>
<!-- NeoSeo SMS Notify - end -->
</body></html>
