.image .stiker_last {color: #FFFFFF; background-color: #454552;}
.image .stiker_best {color: #FFFFFF; background-color: #E85A71;}
.image .stiker_spec {color: #FFFFFF; background-color: #4EA1D3;}
.image .stiker_netu {color: #000000; background-color: #F7F7F7;}
.image .stiker_user {color: #000000; background-color: #F7F7F7;}
#top7 {background-color: #F7F7F7;}
.rev_slider.rev_blog_mod .heading_h {background-color: #F7F7F7;}
.rev_slider.rev_blog_mod .owl-pagination {background-color: #F7F7F7;}
.rev_slider.rev_blog_mod .vertical-sreview {border: none;}
#top7 {padding: 30px 0 15px 0; margin-bottom: 20px;}
#top4 {background-color: #000000;}
@media (max-width: 767px) {#top4, #top5 {display: block;margin-bottom: -10px;min-height: initial !important;}}
#top4, #top4 .col-sm-12.col-md-12, #top4 .owl-carousel .owl-wrapper-outer {padding: 0;}
h1.home_h1 {padding-top: 20px;}
::selection {background-color: #F5F5F5;}
body,#all_document,header,#top,#top2,.rev_slider .owl-pagination,.rev_slider .heading_h,#product_products .owl-pagination,#product_products h3,.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover,#top3_links,.vertical-sreview .caption {background-color: #333333;}
@media (min-width: 768px) {.container {width: 90%;}}
@media (min-width: 1600px) {#all_document, .container {width: 1540px;} .box-col-3 {width: 1200.5%;} .box-col-2 {width: 810%;} .box-col-1 { width: 350%;}}
#top3,#top3.affix {width: 100%;}
#top .container {border-bottom: none;}
a,.list-group a,.pagination>li>a, .pagination>li>span, .mobile_info button:hover, .mobilemenu .navbar-nav > li > .list-group-submenu li a > .chevrond:hover, .mobilemenu .navbar-nav > li a > .chevrond:hover, .mobilemenu .navbar-nav > li.mobile_header_type_two > button > .chevrond:hover, .mobilemenu .navbar-nav > li.mobile_header_type_two > button > .chevrond {color: #FFFFFF;}
.btn-primary,.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover, #popup-view-wrapper .popup-footer a, .cd-products-comparison-table .filter_otlich_span.active {background-color: #FFFFFF; border-color: #FFFFFF;}
a:hover,.list-group a:hover,.list-group a.active:hover,.pagination>li>a:hover,.pagination>li>span:hover,.top-links.verh a:hover,.top-links.verh .span-a:hover:hover,.product-info .btn-plus button:hover, .product-info .btn-minus button:hover,.product-info .pop_ico:hover, .product-info .compare .fa:hover, .product-info .wishlist .fa:hover,.product-info input[type="radio"]:checked + label span.option_price, .product-info input[type="checkbox"]:checked + label span.option_price,.home_block a:hover, .home_block a:hover .image > .fa,#menu2 ul.lastul li a:hover,#menu2 a:hover,#menu2 li.glavli a:hover,#menu .nav > li .dropdown-menu li .dropdown-menu ul li a:hover,#menu .nav > li > div > .dropdown-menu > div > ul > li > a:hover,.display-products-cart .btn-plus button:hover, .display-products-cart .btn-minus button:hover,.dropdown-menu li > a:hover, .dropdown-menu li > a:hover i,.search .search_button:hover,.search .change_category_button:hover,.popup_notification .mfp-close:hover,#popup-order-okno .mfp-close:hover, #popup-okno .mfp-close:hover,#popup-view-wrapper .mfp-close:hover,.wwicons a:hover,.cd-products-comparison-table .in_wishlist .fa-border, .cd-products-comparison-table .in_compare .fa-border,.cd-products-comparison-table .fa-border:hover,.product-info .in_wishlist .fa, .product-info .in_compare .fa,.well.well-sm .btn-group-justified .btn-default:hover,.dropdown-menu li > a:hover, .dropdown-menu li > a:hover i,.search .dropdown-menu > li > a:hover .name,.table-revolution .btn-plus button:hover, .table-revolution .btn-minus button:hover,.owl-carousel .owl-buttons div i:hover,.product-thumb .fa-border:hover, .product-info .pokupka .preimushestva .home_block a:hover .fa, .ul_block_home_catwalls h4.home_catwalls_all_href a:hover, .product-thumb .caption a.home_catwalls_podcat:hover,.product-thumb .in_wishlist .fa-border,.product-thumb .in_compare .fa-border,#menu2 ul.lastul .show_categoryoff:hover,.options_buy .checkbox label:hover,.options_buy .radio label:hover,.display-products-cart tr td.remove button:hover,#revcheckout .delete button:hover {color: #E8E8E8;}
.btn-primary:hover,#popup-view-wrapper .popup-footer a:hover,#popup-view-wrapper .popup-footer a:hover,.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover,#popup-view-wrapper .popup-footer a:hover {background-color: #E8E8E8; border-color: #E8E8E8;}
#menu2 ul.lastul .show_categoryoff:hover {border-color: #E8E8E8;}
#top2 .tel .s22,#top2 .tel .s22 a,#top2 .tel .s22:hover i,.rating .fa-star,.rat-star.active,.rat-star.checked,.rating .fa-star + .fa-star-o,.product-info input[type="radio"]:checked + label .fa, .product-info input[type="checkbox"]:checked + label .fa,.product-info .form-group .list-unstyled .update_price, .product-info .form-group .list-unstyled .update_special,.product-thumb .price-new {color: #212121;}
.product-info #button-cart,#cart:hover button.cart,.popup_notification .popup-footer a, #popup-order-okno .popup-footer a, #popup-okno .popup-footer a,.btn-danger {background-color: #212121;}
.product-thumb .fa-border.fa-shopping-basket,.options_buy .fa-border,.cd-products-comparison-table .fa-border.fa-shopping-basket,.wwicons .fa-border.fa-shopping-basket {background-color: #212121; border-color: #212121;}
.product-info input[type="radio"]:checked + label,.product-info input[type="checkbox"]:checked + label,.product-info input[type="radio"]:hover + label, .product-info input[type="checkbox"]:hover + label,#revfilter_box .image-filter input:checked + img {box-shadow: 0px 0px 1px 1px #212121;}
.product-info .radio .btn-default:active {border-color: #212121;}
.product-info #button-cart:hover,.popup-phone-wrapper,.popup_notification .popup-footer a:hover, #popup-order-okno .popup-footer a:hover, #popup-okno .popup-footer a:hover,.btn-danger:hover {background-color: #FF637C;}
.product-thumb .fa-border.fa-shopping-basket:hover, .options_buy .fa-border:hover,.cd-products-comparison-table .fa-border.fa-shopping-basket:hover,.wwicons .fa-border.fa-shopping-basket:hover {background-color: #FF637C; border-color: #FF637C;}
#menu2_button .box-heading, a.mobil_mmenu_three {background-color: #00523D;}
#top3 {background-color: #0005D3;}
#cart button.cart {background-color: #FFFFFF;}
footer .footer {background-color: #212121;}
.razmiv #revslideshow,.razmiv #top6,.razmiv #content,.razmiv .rev_slider,.razmiv .hcarousel,.razmiv #vk_groups,.razmiv .breadcrumb,.razmiv .razmivcont,.razmiv #top3_links .top-links,.razmiv .home_h1,.razmiv #column-left,.razmiv #column-right,.razmiv #top7,.razmiv footer {-webkit-filter: blur(1px);filter: blur(1px);-webkit-transition: all 50ms linear;-moz-transition: all 50ms linear;-ms-transition: all 50ms linear;-o-transition: all 50ms linear;transition: all 50ms linear;}
.razmiv2 #top,.razmiv2 #revslideshow,.razmiv2 #menu2_button,.razmiv2 #top6,.razmiv2 #content,.razmiv2 .rev_slider,.razmiv2 .hcarousel,.razmiv2 #vk_groups,.razmiv2 .breadcrumb,.razmiv2 #top3_links .top-links,.razmiv2 .home_h1,.razmiv2 #column-left,.razmiv2 #column-right,.razmiv2 #top7,.razmiv2 #top2,.razmiv2 #top3,.razmiv2 footer {-webkit-filter: blur(1px);filter: blur(1px);-webkit-transition: all 50ms linear;-moz-transition: all 50ms linear;-ms-transition: all 50ms linear;-o-transition: all 50ms linear;transition: all 50ms linear;}
.iexpl .razmiv #revslideshow,.iexpl .razmiv #top6,.iexpl .razmiv #content,.iexpl .razmiv .rev_slider,.iexpl .razmiv .hcarousel,.iexpl .razmiv #vk_groups,.iexpl .razmiv .breadcrumb,.iexpl .razmiv .razmivcont,.iexpl .razmiv #top3_links .top-links,.iexpl .razmiv .home_h1,.iexpl .razmiv #column-left,.iexpl .razmiv #column-right,.iexpl .razmiv #top7,.iexpl .razmiv footer {filter: none;-webkit-transition: all 50ms linear;-moz-transition: all 50ms linear;-ms-transition: all 50ms linear;-o-transition: all 50ms linear;transition: all 50ms linear;}
.iexpl .razmiv2 #top,.iexpl .razmiv2 #revslideshow,.iexpl .razmiv2 #menu2_button,.iexpl .razmiv2 #top6,.iexpl .razmiv2 #content,.iexpl .razmiv2 .rev_slider,.iexpl .razmiv2 .hcarousel,.iexpl .razmiv2 #vk_groups,.iexpl .razmiv2 .breadcrumb,.iexpl .razmiv2 #top3_links .top-links,.iexpl .razmiv2 .home_h1,.iexpl .razmiv2 #column-left,.iexpl .razmiv2 #column-right,.iexpl .razmiv2 #top7,.iexpl .razmiv2 #top2,.iexpl .razmiv2 #top3,.iexpl .razmiv2 footer {filter: none;-webkit-transition: all 50ms linear;-moz-transition: all 50ms linear;-ms-transition: all 50ms linear;-o-transition: all 50ms linear;transition: all 50ms linear;}
.masked_loading {background: url("../../../../../image/catalog/revolution/preloaders/revpreloader3.svg") no-repeat center center;}
@media (max-width: 991px) {.product-thumb .description_options {display: none;}}
@media (max-width: 767px) {#top {background-color: #0005D3;}}
@media (max-width: 767px) {#top {position: fixed; top: 0; width: 100%; box-shadow: 0 0 10px 2px rgba(0,0,0,.2); color: #fff; border-bottom: none;} #top2 {margin-top: 38px;} #top2 .container {padding: 15px 15px 5px;} #cart_mobi {float: right; width: initial; height: 36px; line-height: 36px; margin-left: 10px;} #top2 #logo {margin-bottom: 0;} .mobile_info .navbar-default .navbar-toggle:focus,.mobile_info .navbar-default .navbar-toggle:hover {background-color: #eee; background-color: transparent; box-shadow: inset 0px 0px 50px rgba(255,255,255, 0.25); color: #fff;}}
@media (max-width: 767px) {#top .mobile_info button:first-child {background-color: #00523D;}}
@media (max-width: 767px) {#top .top-links .fa {min-width: 15px; color: #fff;}}
@media (max-width: 767px) {.top-links.verh a.dropdown-toggle {padding: 0 5px; color: #fff; transition: none;}}
@media (max-width: 767px) {.top-links.verh a.dropdown-toggle:hover sup {color: #fff;}}
.product-grid .product-thumb .description, .rev_slider .product-thumb .description {display: block;}
span.option_price {display: none;}
@media (min-width: 1200px) {.product-layout.col-lg-3 {width: 20%;}.product-layout.col-lg-4 {width: 25%;}}
.owlproduct .owl-controls {display: none !important;}
.show-on-hover:hover > ul.dropdown-menu.dblock22 {display: block;}
.home_block .image > .fa,.home_block .image > img {-webkit-transition-property: color, opacity, transform;transition-property: color, opacity, transform;}.home_block a:hover .image > .fa,.home_block a:hover .image > img {-webkit-transform: translateY(-3px);transform: translateY(-3px);}
@media (min-width: 992px) and (max-width: 1200px) {.heading_ico_image>img {margin-left: -6px; margin-right: 2px;} #cart button.cart {font-size: 15px;}}
#top2 #cart {border-radius: 2px; margin-top: 10px;}
#top2 #cart button.cart {background-color: transparent; color: #FFFFFF; border: 1px solid #FFFFFF; border-radius: 2px;}
.product-thumb .zakaz {display: none !important;}
